*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    color: #2a2a2a;
    background-color: #fafafa;
} 
a {
    text-decoration: none;
}

ul, ol {
list-style-type: none; 
margin: 0;
padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    }
 img {
        display: block;
    }
.orange {
    color: #fd9222;
}
.container {
    width: 1166px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
 button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
 }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

  /* #region: header */

.header {
  
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.nav-header {
    
}

.accept {
    font-style: normal;
}

.logo-header {
    font-style: italic;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
        color: #111;
        padding-top: 28px;
        padding-bottom: 28px;
       
}

.menu-header {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.social-header {
    display: flex;
    gap: 18px; 
    align-items: center;
}
.social-header-item {
   width: 24px;
   height: 24px;
background-color: #fff;
}
.icon-header {
    width: 24px;
    height: 24px;
    stroke: #111;
    fill: transparent;
}
.link-nav-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
}
.link-nav-header:hover,
.link-nav-header:focus {
    color: #fd9222;
}
.icon-twitter {
   
}
        /* #endregion: header */

       /* #region: buy */

.hero {
background-color: #1e1823;
margin-bottom: 72px;
border-radius: 30px;
background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/hero-dextor.png);
background-repeat: no-repeat;
background-size: cover;
}
@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/Hero-dextor@2x.png);
    }
}

.content-hero {
    padding: 375px 72px 46px 72px;
    margin: 0 auto;
}
.title-hero {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 484px;
    height: 102px;
    margin-bottom: 32px;
}

.button-hero {
font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #fd9222;
    border: none;
    border-radius: 100px;
    padding: 14px 40px;
    margin-right: 14px;
}

.button-hero:hover,
.button-hero:focus {
color: #fd9222;
background-color: #fcf1e0;
}
.made-hero {
font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
        border-radius: 100px;
        padding: 14px 40px;
}
.link-hero {
    display: flex;
    align-items: center;
}
.made-hero:hover,
.made-hero:focus {
    color: #fd9222;
}
.down-hero {
     font-weight: 500;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.03em;
        color: #fff;
       margin-left: auto;
}
.down-hero:hover,
.down-hero:focus {
    color: #fd9222;
}
.down-hero-icon-div {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;

}
.down-hero-icon {
    fill: #fd9222;
}
/* #endregion: buy */

/* #region: for us */

.for-us {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.list-for-us {
   
    display: flex;
    align-items: center;
    gap: 70px;
   padding: 50px;
}

.item-for-us {
    width: calc((100% - 140px) / 3);

}
.div-icon-for-us {
border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;
    display: flex;justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}
.title-for-us {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.01em;
    margin-bottom: 18px;

}

.text-for-us {
    font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
}

/* #endregion: for us */

/* #region: ingredients */

.ingredients {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-ingredients {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        color: #111;
        max-width: 411px;
        margin: 0 auto;
        margin-bottom: 28px;
        text-align: center;
}

.title-ingredients-card {
font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fff;
}

.ingredients-overlay {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
        width: 270px;
        height: 270px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-ingredients:hover .ingredients-overlay {
    transform: translateY(0);
}

.ingredients-overlay-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
margin-bottom: 8px;
}

.ingredients-overlay-btn-one {
    font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        color: #fff;
        background: #fd9222;
        border-radius: 35px;
            padding: 6px 16px;
            border: 1px solid #fd9222;
        margin-right: 6px;
}

.ingredients-overlay-btn-two {
    border: 1px solid #fd9222;
        border-radius: 35px;
        padding: 6px 16px;
        font-weight: 400;
            font-size: 10px;
            line-height: 1.2;
            color: #111;
            background-color: #fafafa;
}

.ingredients-overlay-text {
    margin-top: 14px;
    font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: #111;
}

.text-ingredients {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        color: #111;
        max-width: 486px;
         margin: 0 auto;
         text-align: center;
}

.list-ingredients {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}

.item-ingredients {
    position: relative;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion: ingredients */

/* #region: how made */

.made {
   margin-bottom: 100px;
}
.title-made {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    color: #111;
    margin: 0 auto;
    max-width: 205px;
    margin-bottom: 50px;
}
.container-made {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-made {
border-radius: 15px;
    width: 600px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4), url("path_to_image");
}

.container-made-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    padding: 32px;
}

.title-made-one {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        color: #111;
}

.list-made {
    gap: 24px;
}

.item-made {
    margin-bottom: 24px;
    list-style-type:disc;
    list-style-position:initial
}
.item-made:last-child {
    margin-bottom: 0;
}
.text-made {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        color: #111;
}

/* #endregion: howe made */

/* #region: team*/

.team {
    margin-bottom: 100px;
}
.team-container {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.title-team {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        color: #111;
         margin: 0 auto;
        max-width: 268px;
}

.content-team {
margin-top: 50px;
}

.list-team {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
   


}

.item-team {
    width: calc((100% - 56px) /3);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 24px 24px 24px;
    position: relative;

}

.image-team {
    margin-bottom: 18px;
    position: absolute;
    /* transform: translateY(-120%); */
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
}

.title-team-one {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        color: #111;
        text-align: center;
        margin-bottom: 24px;
}

.text-team {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        color: rgba(17, 17, 17, 0.7);
        text-align: center;
        max-width: 360px;
}

.button-team {
    font-weight: 600;
        font-size: 18px;
        color: #111;
        border: 1px solid #fd9222;
        border-radius: 100px;
      
         padding: 14px 40px;
}
.button-team:hover,
.button-team:focus {
  background-color: #fd9222;
  color: #fff;
}
/* #endregion: team */

/* #region: footer */

.footer {
    background-color: #1e1823;
}

.text-footer {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #fff;
    max-width: 300px;


}

.text-style-footer {}


.address-footer {
    font-style: normal;
    margin-left: auto;
}

.text-address-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 14px;
    color: #fff;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 32px;
}

.footer-container {
    max-width: 177px;


}

.list-address-footer {}

.item-address-footer {}

.link-address-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fff;
}

.link-address-footer:hover,
.link-address-footer:focus {
    color: #fd9222;
}

.nav-footer {
    margin-top: 54px;
}

.menu-footer {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 86px;
}

.link-menu-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
    padding-top: 24px;
    padding-left: 32px;

}

.link-menu-footer:hover,
.link-menu-footer:focus {
    color: #fd9222;
}

/* #endregion: footer */

/* #region: modal-window */

.modal-window {
    background-color: rgba(46, 47, 66, 0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);   
 }

.modal-window.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-window-content {
    background-color: #fafafa;
        border-radius: 15px;
        width: 517px;
        height: 794px;
        overflow-y: auto;
        padding: 24px 24px 40px 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-window-btn-icon {
    width: 28px;
    height: 28px;
    position: absolute;
    display: flex;
    align-items: center;
    border: none;
    border-color: transparent;
    border-radius: 50%;
        top: 24px;
        right: 24px;
        margin-left: auto;
        stroke: #1e1823;
        transition: stroke 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-window-btn-icon:hover,
.modal-window-btn-icon:focus {
    stroke: #fd9222;
}

.modal-window-text {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #111;
        width: 298px;
        margin-bottom: 42px;
        padding-top: 14px;
}

.modal-window-text-span {
    color: #fd9222;
}
.modal-window-container {} 

.modal-window-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
   
}

.modal-window-form-container {
  
}

.modal-window-label {
    font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: rgba(64, 64, 64, 0.3);
}
.input-wraper {
    position: relative;
}

.user-input {
width: 100%;
height: 68px;
border: 1px solid rgba(17, 17, 17, 0.05);
border-radius: 13px;
padding-left: 62px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-input:hover,
.user-input:focus {
    border-color: #fd9222;
}

.modal-window-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    stroke: #404040;
    stroke-width: 2;
    fill: transparent;
}
.user-input:hover + .modal-window-icon,
.user-input:focus + .modal-window-icon {
    stroke: #fd9222;
}
.modal-window-comment {
border: 1px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    padding: 22px 24px 93px 24px;
    width: 436px;
    height: 137px;
    resize: none;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-comment:hover,
.modal-window-comment:focus {
    border-color: #fd9222;
    outline: transparent;
}
.privacy-div {
    margin-top: 18px;
}
.modal-window-checkbox {}

.input::placeholder {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

input:checked+label>span {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;
}

.modal-window-privacy {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
}

.modal-window-privacy a {
    text-decoration: underline;
    color: #fd9222;
}

.modal-span {
border-radius: 6px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 12px;
    margin-top: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-link {
    text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fd9222;
        font-weight: 400;
            font-size: 14px;
            letter-spacing: -0.02em;
}

.modal-window-btn {
    border-radius: 100px;
        padding: 14px 40px;
        width: 117px;
        height: 45px;
        background-color: #fd9222;
        border: none;
        font-weight: 600;
            font-size: 14px;
            color: #fff;
            margin-top: 40px;
}

/* #endregion: modal-window */