*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    color: #2a2a2a;
    background-color: #fafafa;
} 
a {
    text-decoration: none;
}

ul, ol {
list-style-type: none; 
margin: 0;
padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    }
 img {
        display: block;
    }
.orange {
    color: #fd9222;
}
.container {
    width: 1166px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
 button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
 }

  /* #region: header */

.header {
  
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.nav-header {
    
}

.accept {
    font-style: normal;
}

.logo-header {
    font-style: italic;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
        color: #111;
        padding-top: 28px;
        padding-bottom: 28px;
       
}

.menu-header {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.menu-list-header {
   
   
}


.link-nav-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
}
.link-nav-header:hover,
.link-nav-header:focus {
    color: #fd9222;
}
.icon-twitter {
   
}
        /* #endregion: header */

       /* #region: buy */

.hero {
background-color: #1e1823;
margin-bottom: 72px;
border-radius: 30px;
background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolatebg.png);
background-repeat: no-repeat;
background-size: cover;
}

.content-hero {
    padding: 375px 72px 46px 72px;
    margin: 0 auto;
}
.title-hero {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 484px;
    height: 102px;
    margin-bottom: 32px;
}

.button-hero {
font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #fd9222;
    border: none;
    border-radius: 100px;
    padding: 14px 40px;
    margin-right: 14px;
}

.button-hero:hover,
.button-hero:focus {
color: #fd9222;
background-color: #fcf1e0;
}
.made-hero {
font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
        border-radius: 100px;
        padding: 14px 40px;
}
.link-hero {
    display: flex;
    align-items: center;
}
.made-hero:hover,
.made-hero:focus {
    color: #fd9222;
}
.down-hero {
     font-weight: 500;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.03em;
        color: #fff;
       margin-left: auto;
}
.down-hero:hover,
.down-hero:focus {
    color: #fd9222;
}

/* #endregion: buy */

/* #region: for us */

.for-us {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.list-for-us {
   
    display: flex;
    align-items: center;
    gap: 70px;
   padding: 50px;
}

.item-for-us {
    width: calc((100% - 140px) / 3);
}

.title-for-us {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.01em;
    margin-bottom: 18px;

}

.text-for-us {
    font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
}

/* #endregion: for us */

/* #region: ingredients */

.ingredients {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-ingredients {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        color: #111;
        max-width: 411px;
        margin: 0 auto;
        margin-bottom: 28px;
        text-align: center;
}

.title-ingredients-card {
font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fff;
}
.text-ingredients {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        color: #111;
        max-width: 486px;
         margin: 0 auto;
         text-align: center;
}

.list-ingredients {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}

.item-ingredients {}

/* #endregion: ingredients */

/* #region: how made */

.made {
   margin-bottom: 100px;
}
.containet-made {
    display: flex;
    align-items: center;
    gap: 20px;
}
.title-made {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        color: #111;
         margin: 0 auto;
        max-width: 205px;
        margin-bottom: 50px;
}

.image-made {
    list-style-type: ;
    
}

.title-made-one {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        color: #111;
        margin-bottom: 28px;
}

.list-made {
    gap: 24px;
}
.container-made-text {
    display: flex;
    align-items: center;
    gap: 28px;
}
.item-made {
    margin-bottom: 24px;
}
.item-made:last-child {
    margin-bottom: 0;
}
.text-made {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        color: #111;
}

/* #endregion: howe made */

/* #region: team*/

.team {
    margin-bottom: 100px;
}
.team-container {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.title-team {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        color: #111;
         margin: 0 auto;
        max-width: 268px;
}

.content-team {
margin-top: 50px;
}

.list-team {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
   


}

.item-team {
    width: calc((100% - 56px) /3);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 24px 24px 24px;
    position: relative;

}

.image-team {
    margin-bottom: 18px;
    position: absolute;
    /* transform: translateY(-120%); */
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
}

.title-team-one {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        color: #111;
        text-align: center;
        margin-bottom: 24px;
}

.text-team {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        color: rgba(17, 17, 17, 0.7);
        text-align: center;
        max-width: 360px;
}

.button-team {
    font-weight: 600;
        font-size: 18px;
        color: #111;
        border: 1px solid #fd9222;
        border-radius: 100px;
      
         padding: 14px 40px;
}
.button-team:hover,
.button-team:focus {
  background-color: #fd9222;
  color: #fff;
}
/* #endregion: team */

/* #region: footer */

.footer {
    background-color: #1e1823;
}

.text-footer {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #fff;
    max-width: 300px;


}

.text-style-footer {}


.address-footer {
    font-style: normal;
    margin-left: auto;
}

.text-address-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 14px;
    color: #fff;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 32px;
}

.footer-container {
    max-width: 177px;


}

.list-address-footer {}

.item-address-footer {}

.link-address-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fff;
}

.link-address-footer:hover,
.link-address-footer:focus {
    color: #fd9222;
}

.nav-footer {
    margin-top: 54px;
}

.menu-footer {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 86px;
}

.link-menu-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
    padding-top: 24px;
    padding-left: 32px;

}

.link-menu-footer:hover,
.link-menu-footer:focus {
    color: #fd9222;
}

/* #endregion: footer */